In [6]:
import pandas as pd

data = pd.read_csv('model_out/synapse_2023-06-14 10:58:47.785048results.csv', sep='\t', index_col=0)

In [7]:
data

    mean_dice  mean_hd95
0    0.771192  26.799666
1    0.794109  28.045049
2    0.777258  30.561098
3    0.758655  34.353412
4    0.810421  20.031067
5    0.799055  26.005308
6    0.762983  42.435027
7    0.782793  38.969056
8    0.791780  26.013279
9    0.797012  29.241273
10   0.747506  41.891135
11   0.775810  29.308548
12   0.774309  31.502167
13   0.762372  53.496708
14   0.785771  39.779227
15   0.783048  35.109518
16   0.801956  32.160350
17   0.789285  31.131376
18   0.802113  23.911434
19   0.764338  44.642507
20   0.792660  29.960740
21   0.805661  28.624494
22   0.802994  28.435260
23   0.800400  37.168478
24   0.793195  34.754526
25   0.803719  31.045333
26   0.791276  32.324731
27   0.793324  25.061475
28   0.786329  32.021855
29   0.791660  31.678633

In [8]:
# 找到mean_dice 最大的那一行
data.loc[data['mean_dice'].idxmax()]

mean_dice     0.810421
mean_hd95    20.031067
Name: 4, dtype: float64

In [10]:
# 找到 mean_hd95 最小的那一行
data.loc[data['mean_hd95'].idxmin()]

mean_dice     0.810421
mean_hd95    20.031067
Name: 4, dtype: float64

# 找到